.inverse h1, .inverse h2 {
    color: white;
    background-color: rgba(153,41,201, 0.85);
    border-radius: 8px;
    padding: 8px;
    margin: 2px 8px 2px 0;
}

.inverse {
    background-image: "assets/hacktober19_slide.png"";
}

figcaption {
  margin: auto;
  text-align: center;
}


.reveal .slide aside .aside-footnotes {
  font-size: 0.2em;
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #6f6f6f;
}